* {
    /*  margin: 0px;
    padding: 0px;*/
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    background-image: url('snimki/v546batch3-mynt-34-badgewatercolor_1.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(3, 53, 68);
    text-transform: uppercase;
}
form{
    font-size: larger;
}
::placeholder{
    background-color: white;
    color: black;
}
input[type=submit]{
    padding: 15px;
    margin: 5px 5px 5px 10px;
    color: white;
    background: #0742cd;
    border: 1px solid #0742cd;
    box-shadow: 0 6px 18px 0 #bdd0fd;
    transition: all 350ms ease;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 10%;
}
div{
    font-size: larger;
    float: right;
    margin-right: 350px;
}
.navMenu {
    position: absolute;
  }
  
  .navMenu a {
    color: #9c2b17;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #e63afd;
  }
  
